
.col-lg-4 {
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px; 
}
 .team-member p{
        color: gray;
    }

.col-lg-4 .team-member {
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    /* margin-bottom: 20px; */
}

.col-lg-4 .team-member img {
    width: 65%;
    height: 275px;
    border-radius: 5%;
    margin-bottom: 25px;
    border-top: solid rgb(5, 86, 133) 1px;
    border-left: solid rgb(5, 86, 133) 1px;
  
    
}
.center-underline {
    display: inline;
    background-image: linear-gradient(to right, transparent 25%, black 25%, white 75%, transparent 75%);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0 100%;
   
  }
  
@media (width: 768px) {
    .col-md-12 .team-member img {
            width: 50% !important;
            height: fit-content !important;  
        }
    
}  



@media (max-width: 480px) {
    .col-sm-12 .team-member img {
        width: 75%;
        height: 250px;  
    }
    
    .hero {
        position: relative; 
        width: 100%;
        height: 300px !important;
        background-size: cover;
        background-position: center;
        bottom: 0; 
        right: 0 ; 
    }
    .about-us-section p{
        font-size: 15px;
    }

    .col-lg-4 .team-member{
        width: 100%;
        height: fit-content;
        
    }

    .team-member p{
        font-size: 15px;
        color: gray;
    }

    .team-member h3{
        color: black;
    }

    .hero-content h1 {
        font-size: 20px !important;
        margin: 0;
        text-decoration: none;
    }
    
    .hero-content p {
        font-size: 15px !important;
        margin: 10px 0 0; 
    }
    .col-sm-12{
        height: 400px;
    }

    .our-story p{
        font-size: 15px;
    }
    .our-vision p{
        font-size: 15px;
    }

    .contact p{
        font-size: 15px;
    }
}



.background{
    background-color: #F0F8FF;
}

.hero {
    position: relative; 
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: flex-end; 
    justify-content: center; 
    color: white; 
    text-align: center;
    align-items: flex-start;  /* Align items to the top */
    justify-content: center;  /* Center items horizontally */
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.2); 
    padding: 20px; 
    border-radius: 10px;
    margin-bottom: 20px; 
    margin-top: 20px; 
    width: 95%;  
    max-width: 800px;

}

.hero-content h1 {
    font-size: 50px;
    margin: 0;
    text-decoration: none;
}

.hero-content p {
    font-size: 20px;
    /* margin: 10px 0 0;  */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
   
    .col-lg-4 .team-member img {
        width: 90%;
        height: 240px;
        border-radius: 5%;   
        }

   .team-member h3{
     font-size: 20px;
   }
   .team-member p{
     font-size: 15px;
   }

    .our-story p{
        font-size: 18px;
    }
    .our-vision p{
        font-size: 18px;
    }

    .contact p{
        font-size: 18px;
    }

    .about-us-section h1{
        font-size: 40px;
    }

    .about-us-section p{
        font-size: 18px;
    }
  }


@media only screen and (min-width: 1025px){
    .hero-content{
        margin-top: 15vh;
        
    }
    .hero-content h1 {
        font-size: 50px;
        margin: 0;
        text-decoration: none;
    }

    .hero-content p {
        font-size: 30px;
      
    }
}






