   
  .d-block{
      width: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 1vh;
    }
   
    p{
       font-size: 18px;
       color: black;
       animation: slideUp 1s ease-out forwards; /* Apply the "slideUp" animation */

    }
    /* Hover effect on indicators */
    .carousel-indicators li:hover {
      transform: scale(1.3);      /* Slightly scale on hover */
    }
    
    /* Active indicator becomes larger */
    .carousel-indicators .active {
      background-color: black;   /* Active color */
      width: 20px;               /* Larger size for active indicator */
      height: 10px;              /* Larger size for active indicator */
      transform: scale(1.2);      /* Slight scaling to make it pop */
    }

    /* Styling for each indicator */
    .carousel-indicators li {
      width: 5px;               /* Default smaller size */
      height: 5px;              /* Default smaller size */
      margin: 0 5px;
      background-color: rgb(0, 0, 0);   /* Default color */
      border-radius: 50%;
      cursor: pointer;
      transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and size changes */
    }

    .carousel-indicators .active {
      background-color: black !important;  /* Ensure active indicator turns black */
    }

  .custom-caption h5 {
    font-size: 22px !important;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.2); 
    color: #000000; 
    animation: slideUp 1s ease-out forwards; /* Apply the "slideUp" animation */
}

/* Define the animation: "bottom to up" effect */
@keyframes slideUp {
  0% {
    opacity: 0; /* Start as invisible */
    transform: translateY(20px); /* Start slightly below */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* End at its original position */
  }
}
  /* Media Query for Mobile Devices */
@media (max-width: 768px) {
    img{
        height: 60vh;
      }
    h5{
      font-size:14px !important;
    }
    p{
      font-size: 10px;
    }
}

  /* CSS styles for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  img{
    height: 80vh;
  }
  h5{
  font-size:14px !important;
  }
  p{
    font-size: 12px;
  }
}

  
 

  
  
  