
  
@media only screen and (max-width: 768px) {
  .map{
      width: 100%; 
      position: relative;
      padding-top: 80px; /* Adjust based on navbar height */
    }

  }

  .map{   
    width: 100%;  
    position: relative;
    padding-top: 120px; /* Adjust based on navbar height */
  }

  iframe{
      border-radius: 20px;
    }
  .intro{
    text-align: left;
  }
  .col-lg-6{
    text-align: justify;
  }
  .row{
    padding: 10px 0;
  }

  .faq p{
    text-align: left;
   
  }
  .follow-us p{
    text-align: left;
  }

  h1{
    text-decoration: underline;
  }
  .textAni{
    color: hsl(0, 0%, 28%);
    font-size: 50px!important;
    font-weight: bold!important;
    font-family: monospace;
    letter-spacing: 7px!important;
    cursor: pointer;
    text-transform: uppercase;

    padding: 64px;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
  }

 

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}
  

@media (max-width: 480px) {
  .textAni{
    color: hsl(0, 0%, 28%);
    
    font-weight: bold!important;
    font-family: monospace;
    letter-spacing: 7px!important;
    cursor: pointer;
    text-transform: uppercase;
  
    padding: 3%;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
  }

  .textAni h1{
    font-size: 22px;
  }

  .col-lg-6 h1{
    font-size: 25px;
    text-align: center;
    padding: 0%;
  }

  .end{
    margin-top: 30vh;
  }
  .par{
  font-size: 15px;
}
}
 
  