.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10vh;
}

.gallery-item {
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
  overflow: hidden; /* Ensures the border is inside the container */
  position: relative;
}

.gallery-item img {
  object-fit: cover;
  width: 100%;
  height: 75%;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  
}

/* Add border with a linear gradient */
.gallery-item::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  /* background: linear-gradient(90deg, #03a9f4, #1860e6, #090922, #000102); */
  z-index: -1; /* Position it behind the image */
  border-radius: 20px; /* Match the border radius of the image */
  padding: 5px; /* Make sure border doesn't overlap image */
}

/* Optional: Add hover effect */
.gallery-item:hover img {
  transform: scale(1.05); /* Slightly zoom in the image */
}

/* Style for text inside the image */
.gallery-item .overlay {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0; /* Start with zero width */
  height: 100%; /* Cover the full height of the image */
  background: linear-gradient(90deg, #1e3c72, #2a5298);
  color: white;
  text-align: center;
  align-content: center;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  line-height: 2; /* Vertically center the text */
  opacity: 0; /* Initially hidden */
  transition: width 0.8s ease, opacity 0.3s ease-in-out; /* Smooth transitions for both width and opacity */
}

.gallery-item:hover .overlay {
  width: 75%; /* Expand to 75% of the image width */
  opacity:1; /* Make the text visible */
}

.gallery-item .overlay span {
  position: relative;
  z-index: 1;
  display: inline-block;
}
