/* Base styles for the button */
.button {
  position: relative;
  border: none;
  background: transparent;
  --stroke-color: #ffffff7c;
  --ani-color: rgba(95, 3, 244, 0);
  --color-gar: linear-gradient(90deg, #03a9f4, #1860e6, #090922, #000102);
  letter-spacing: 3px;
  font-size: 3.5em; /* Default size */
  font-family: "Arial";
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--stroke-color);
  cursor: pointer;
  text-align: center;
  padding: 10px 20px; /* Add padding for better touch target */
}

.front-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  background: var(--color-gar);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  overflow: hidden;
  transition: all 1s;
  animation: 10s ani infinite;
  border-bottom: 4px solid transparent;
}

.button:hover .front-text {
  width: 100%;
  border-bottom: 4px solid #255166;
  -webkit-text-stroke: 1px var(--ani-color);
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 400%;
  }

  100% {
    background-position: 0%;
  }
}

/* Responsive styles */
@media (max-width: 1024px) {
  .button {
    font-size: 1.5em; /* Slightly smaller font for tablets */
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 1.2em; /* Smaller font for mobile devices */
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 10vw; /* Even smaller font for very small screens */
    padding: 5px 10px;
  }
}

@media (max-width: 2560px) {
  h1{
    padding-bottom: 8%;
    padding-top: 8%;
  }
}
