
.navbar-brand img {
  
  width: 50px;
  max-height: 50px;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: aqua !important; /* Text color */
  position: relative; /* Set position to relative */
  z-index: 1000; /* Bring text to the front */
  font-size: 15px;
  background-color: rgb(7, 2, 34);
  margin-right: 30px;
  
}



.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust distance from text */
  left: 0;
  width: 100%;
  height: 2px; /* Height of the underline */
  background-color: aqua; /* Color of the underline */
  transform: scaleX(0); /* Initially hide the underline */
  transition: transform 0.3s ease; /* Smooth animation on hover */
}

.nav-link:hover::after {
  transform: scaleX(1); /* Show underline on hover */
}

.navbar-toggler-icon {
  background-image: none; /* Remove default Bootstrap hamburger icon */
  width: 30px;
  height: 10px;
  position: relative;
  
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon span {
  content: '';
  background-color: aqua;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  transition: 0.3s;
  border-radius: 1px;
}

.navbar-toggler-icon::before {
  top: 2px;
}

.navbar-toggler-icon span {
  top: 14px;
}

.navbar-toggler-icon::after {
  bottom: 2px;
}


.navbar-toggler {
  border-color: white; /* Navbar toggle border color */
  color: white; /* Navbar toggle text color */
}

.bg-body-dark {
  height: 80px;
  background-color: rgb(7, 2, 34);
  width: 100%;
}


.dropdown-menu {
  position: absolute;
  top: 100%; /* Position dropdown below the nav item */
  left: 10;
  display: none;
  background-color:rgb(255, 255, 255) !important; /* Dropdown background color */
  z-index: 1000; /* Ensure dropdown is above other content */

  
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;

}

.dropdown-menu ul li {
  padding: 8px;
  font-size: 13px;

  
}



.dropdown-menu ul li a {
  text-decoration: none;
  color:  rgb(7, 2, 34);/* Dropdown item text color */
  display: block;
}

.dropdown-menu ul li a:hover {
  background-color: rgb(7, 2, 34); /* Hover background color */
  color: aliceblue;
  border-radius: 5px;

}

/* Mobile devices */
@media (max-width: 425px){
  .navbar-brand .logo_img {
    width: 20px;
    max-height: 40px ;
    margin-left: 10px;
    
  }
  .bg-body-dark {
    height: 40px;
    background-color: rgb(7, 2, 34);
  }

}



/* Tablet devices */
@media (max-width: 768px){
  .navbar-brand .logo_img {
    width: 40px;
    max-height: 40px;
  }
  .bg-body-dark {
    height: 60px;
    background-color: rgb(7, 2, 34);
  }

  .navbar-brand,
  .navbar-nav .nav-link {
    
    margin-right: 0px;
    border-radius: 10px;
    
  }

}



@media screen and (max-width: 2560px) and (min-width: 1024px){
  .bg-body-dark {
    height: 100px;
    background-color: rgb(7, 2, 34);
  }

  .navbar-brand img {
    width: 60px;
    max-height: 60px;
  }
}


